.CListMainContianer
{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   overflow-x: hidden;
}
.cListSubMainContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--textColor);
    padding: 5vh 20vw;
}

.companiesNavbar
{
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--linksBackgroundColor);
    margin: 1.25rem 0;

}
.companiesNavbar a 
{
    color: var(--textColor);
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: var(--textColor);
    color: var(--blackTextColor);
    font-weight: bold;
}
.comapaniesListContainer
{
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    line-height: 2;
    gap: 10px 15px;

}

.comapaniesListContainer li 
{
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
}

/* media queries */

@media all and (max-width:426px) {
    .cListSubMainContainer
    {
        padding: 2.5rem 0vw;
    }
    .comapaniesListContainer
    {
        /* padding: 1rem 2rem; */
        display: grid;
        text-align: center;
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (min-width:769px) and (max-width:1025px) {
    .cListSubMainContainer
    {
        padding: 5rem 15vw;
    }
}

@media screen and (min-width:426px) and (max-width:769px) {
    .cListSubMainContainer
    {
        padding: 5rem 8vw;
    }
    .comapaniesListContainer
    {
        line-height: 1;
        gap: 10px;
 
    }
}

