.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem 6rem;
  position: relative;
  border-top: 1px solid var(--grayBorderColor);
  max-width: 100vw;
  /* border will be replace by borde-top */
}

.footerContent {
  width: 90%;
  display: flex;
  justify-content: center;
}

.footerSubContent {
  margin: 1rem 2rem;
  color: var(--textColor);
}

.footerSubContent > p {
  font-weight: bold;
  margin: 0.85rem 0;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.footerSubContent p::after {
  content: "";
  position: absolute;
  bottom: -2.5px;
  left: 0;
  width: 0%;
  height: 2.5px;
  background: var(--textColor);
  transition: all 0.5s ease;
}
.footerSubContent p:hover::after {
  content: "";
  position: absolute;
  bottom: -2.5px;
  left: 0;
  width: 100%;
}

.footerLinks a {
  line-height: 2.5;
  color: var(--lightTextColor);
  font-size: 0.85rem;
  font-weight: 400;
  position: relative;
}

.footerLinks a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color:var(--textColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footerLinks a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.linkedin:hover{
  transition: color 0.3s ease-in-out;
  color: #179be2;
  cursor: pointer;
}

.insta:hover{
  transition: color 0.3s ease-in-out;
  color: #f23ef8;
  filter: brightness(1.5);
}

.footercontact{
  display: flex;
  align-items: flex-start;
}

.links{
  display: flex;
}

.copyRight {
  position: absolute;
  bottom: 2rem;
  color: var(--textColor);
  font-family: "Poppins", sans-serif;
  background-color: var(--grayBackgroundColor);
  padding: 0.5rem 0.85rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  border-bottom: 1px solid var(--grayBorderColor);
  cursor: pointer;
}

.location:hover .pin{
  animation: vibrate 0.3s infinite;
  color: #00c90a;
}

@keyframes vibrate {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(10deg);}
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .footerContent {
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footerSubContent {
    margin: 1.25rem;
  }
  .copyRight {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 1090px) {
  .footerContent{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .footer {
    padding: 2rem 0 6rem;
  }
  .footerContent {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footerSubContent {
    margin: 1.25rem;
    /* border: 1px solid red; */
    padding: 0.5rem;
  }
  .copyRight {
    font-size: 0.65rem;
  }
  .footerSubContent:last-child {
    margin-left: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 4rem;
    /* padding-bottom: 6rem; */
  }
  .footerContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footerSubContent {
    text-align: center;
    margin-bottom: .1rem;
  }
  
  .footerSubContent:last-child {
    margin: auto;
  }

  .links{
    flex-direction: column;
  }

}

/* @media screen and (min-width:200px) and (max-width:500px) {
  .links{
    flex-direction: column;
  }

} */
