:root{
    --bgCol:rgb(20, 20, 20);
}
[data-theme="light"]{
    --bgCol:white;
}
.studentNavbar
{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.studentSubNavbar
{
    width: 60%;
}
.studentNavlinks 
{
    --padding: 0.85rem 1.5rem ;
        width: 100%;
        padding: var(--padding);
        display: flex;
        justify-content: space-around;
}
.studentNavlinks a
{
    background-color: var(--bgCol);
    color: var(--textColor);
    padding: var(--padding);
    /* padding: 1vw 0; */
    border-radius: 0.5rem;
    border-color:rgb(0, 0, 149);

    &:hover
    {
        background-color: var(--stuNav);
        color: var(--bgCol);
    }
}


@media screen and (min-width:769px) and (max-width:1025px) {
    .studentSubNavbar
    {
        width: 75%;
    }
    .studentNavlinks 
    {
        --padding:0.65rem 1rem;
    }
}

@media screen and (max-width:769px)  {
    .studentSubNavbar
    {
        width: 85%;
    }
    .studentNavlinks 
    {
        --padding:0.65rem 0.5rem;
    }
}

@media screen and (max-width:426px)  {
    .studentSubNavbar
    {
        width: 100%;
    }
    /* .studentNavlinks  */
    /* { */
        /* display: grid; */
        /* grid-template-columns: repeat(2, 1fr); */
        /* gap: 10px;    */
        /* --padding:0.65rem; */
        /* text-align: center; */
    /* } */
    .studentNavlinks 
    {
        --padding:0.65rem 0.5rem;
    }
}